.board {

}

.line {

}

.cube {
    display: inline-block;
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 30px;
    height: 30px;
    margin: -2px 0;
}

#name_first, #name_last {
    font-family: 'Chakra Petch', 'sans-serif';
    text-align: center;
}

#name_first {
    font-size: 36px;
    margin-bottom: 0;
}

#name_last {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
