{% extends "layout.html" %}
{% block head_title_content %}

{% endblock %}


{% block body_content %}
    <h1 id="name_first">Tetris</h1>
    <div id="name_last">by LabRats</div>
    <div align="center" class="board">
        {%- for i in range(22) -%}
            <div class="line">
                {%- for j in range(12) -%}
                    <div data-row="{{ i }}" data-col="{{ j }}" class="cube"></div>
                {%- endfor -%}
            </div>
        {%- endfor -%}
    </div>
{% endblock %}